/***** GENERELLE INDSTILLINGER START *****/
* {
    box-sizing: border-box;
}

img {
    width: 100%;
}


/*
header {
    position: absolute;
    width: 100%;
}
*/

body {
    margin: 0.1px;
    padding: 0;
    line-height: 0;
    background-color: #F2EFEF;
}

h1 {
    /*    font-family: titling-gothic-fb-condensed,
sans-serif;*/
    font-family: 'Raleway', sans-serif;

    line-height: 1.9rem;
    font-size: 3rem;
    text-transform: uppercase;
    color: black;
    font-weight: 300;

}

h2 {
    font-family: titling-gothic-fb-condensed, sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 100;


}

h3 {
    font-family: titling-gothic-fb-condensed, sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 100;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

a {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: white;
}


/***** GENERELLE INDSTILLINGER SLUT *****/

/***** MENUBAR START *****/

.hidden {
    transform: scale(0);
}

#menuknap {
    position: relative;
    display: inline-block;
    width: 3rem;
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
    color: white;
    margin-top: 0.5rem;
    margin-left: 1rem;

}

#menu {
    list-style-type: none;
    transition: transform 1s;
    transform-origin: top right;
    position: absolute;
    min-width: 170px;
    background-color: #c9c9c9;
    z-index: 1;
    right: 4rem;
    top: 2.7rem;
}

#menu a {
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    text-decoration: none;
    color: black;
    line-height: 1.6;

}


.siteheader {
    display: none;

}

/*
.siteheader img {
    width: 40%;
    filter: grayscale(100%);
    margin: 0 0 0 6px;
}
*/


/*
header img {
    max-width: 50%;
    margin-left: 1rem;
    display: block;
}*/

.mobilenav {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

header {
    width: 100%;
    display: inline;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding-right: 80px;
}




/***** SPLASH START *****/


/***** SPLASH SLUT *****/

/****** PORTFOLIO START *****/


/*
.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}
*/

#portfolio .col {

    padding: 20px;
    flex-grow: 1;
    flex-basis: 200px;
    position: relative;
    text-align: center;
    color: white;


}

#portfolio .centered {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    pointer-events: none;
}

#portfolio .colorboxtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: titling-gothic-fb-condensed, sans-serif;
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 7px;
    pointer-events: none;

}

#portfolio h1 {
    text-align: center;
    margin-top: 170px;
}

#portfolio img:hover {
    transition: .5s ease;
    transform: scale(1.2);
}


/****** PORTFOLIO SLUT *****/

/***** WEB START *****/


#web .sectionwrapper {
    margin: 40px;
    display: flex;
    flex-wrap: wrap-reverse;

}

#web .col {
    flex-grow: 1;
    flex-basis: 300px;
}

#web h1 {
    margin-top: 100px;
    text-align: center;
}

#web h2 {
    text-align: center;
}

#web img {
    padding: 10px;
}

#web p {
    padding: 15px;
}

#web .stilartsite_button {
    width: 18rem;
    height: 3rem;
    text-align: center;
    background-color: #fcf5b0;
    text-transform: uppercase;
    font-weight: 700;
    color: white;


}

#web .stilartdokumentation_button {
    width: 18rem;
    height: 3rem;
    text-align: center;
    background-color: #fcf5b0;
    text-transform: uppercase;
    font-weight: 700;
    color: white;



}



/***** WEB SLUT *****/

/***** UX START *****/
#ux .sectionwrapper {
    margin: 40px;
    display: flex;
    flex-wrap: wrap-reverse;

}

#ux .col {
    flex-grow: 1;
    flex-basis: 300px;
}

#ux h1 {
    margin-top: 170px;
    text-align: center;
}

#ux h2 {
    text-align: center;
}

#ux img {
    padding: 10px;
}

#ux p {
    padding: 15px;
}

#ux .stilartsite_button {
    width: 18rem;
    height: 3rem;
    text-align: center;
    background-color: #f09595;
    text-transform: uppercase;
    font-weight: 700;
    color: white;


}

#ux .stilartdokumentation_button {
    width: 18rem;
    height: 3rem;
    text-align: center;
    background-color: #f09595;
    text-transform: uppercase;
    font-weight: 700;
    color: white;

}

/***** UX SLUT *****/

/*****ANIMATION START *****/
#animation .sectionwrapper {
    margin: 40px;
    display: flex;
    flex-wrap: wrap-reverse;

}

#animation .col {
    flex-grow: 1;
    flex-basis: 300px;
}

#animation h1 {
    margin-top: 170px;
    text-align: center;
}

#animation h2 {
    text-align: center;
}

#animation img {
    padding: 10px;
}

#animation p {
    padding: 15px;
}

#animation .stilartsite_button {
    width: 18rem;
    height: 3rem;
    text-align: center;
    background-color: #9dd8c8;
    text-transform: uppercase;
    font-weight: 700;
    color: white;


}

#animation .stilartdokumentation_button {
    width: 18rem;
    height: 3rem;
    text-align: center;
    background-color: #9dd8c8;
    text-transform: uppercase;
    font-weight: 700;
    color: white;



}

/*****ANIMATION SLUT *****/

/*****INDHOLD START *****/
#indhold .sectionwrapper {
    margin: 40px;
    display: flex;
    flex-wrap: wrap-reverse;

}

#indhold .col {
    flex-grow: 1;
    flex-basis: 300px;
}

#indhold h1 {
    margin-top: 170px;
    text-align: center;
}

#indhold h2 {
    text-align: center;
}

#indhold img {
    padding: 10px;
}

#indhold p {
    padding: 15px;
}

#indhold .stilartsite_button {
    width: 18rem;
    height: 3rem;
    text-align: center;
    background-color: #36b5b0;
    text-transform: uppercase;
    font-weight: 700;
    color: white;


}

#indhold .stilartdokumentation_button {
    width: 18rem;
    height: 3rem;
    text-align: center;
    background-color: #36b5b0;
    text-transform: uppercase;
    font-weight: 700;
    color: white;



}

/*****INDHOLD SLUT *****/

/***** MEDIA QUERIES START *****/

/***** Media Query Tablet *****/

/*
@media only screen and (min-width:400px) {
    header img {
        max-width: 12rem;
        margin-left: 2rem;
    }


}
*/

/****** Media Query Desktop ******/


/***** MENU BAR DESKTOP START *****/
@media only screen and (min-width: 945px) {
    .mobilenav {
        display: none;
    }

    /*
    header .portfolie {
        margin: 0;
        padding: 0;

    }
*/


    header {
        width: 100%;
        display: inline;
        position: fixed;
        z-index: 2;
        display: flex;
        flex-direction: column;
    }

    header .siteheader {
        height: 60px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        line-height: 1.2rem;
        background-size: cover;
        margin-top: 20px;
        color: white;
    }

    .siteheader a:hover {
        color: white;
    }

    header .portfolie:hover {
        color: white;
    }

    /*ingen streg under links*/
    header nav a {
        text-decoration: none;
        padding-right: 2rem;
    }

    header a {
        line-height: 1.2rem;
        font-size: 22px;
    }

    /*
    header img {
        max-width: 15rem;
        margin-left: 3rem;
    }
*/

    .siteheader nav {
        margin-right: 2.5rem;
    }


    /***** MENU BAR DESKTOP SLUT *****/
    /****** PORTFOLIO DESKTOP START *****/

    #portfolio .sectionwrapper {
        padding: 50px 100px 100px 50px;
        display: flex;
        flex-wrap: wrap;
    }

    #portfolio img {
        width: 100%;
    }

    #portfolio .col {
        margin: 20px;
    }

    .logo {
        width: 40%;
        filter: grayscale(100%);
    }

    /****** PORTFOLIO DESKTOP SLUT *****/
    /***** WEB DESKTOP START *****/


    #web .img {
        width: 60%;
    }

    #web .sectionwrapper {
        padding: 100px 200px 100px 200px;
    }

    #web h1 {
        margin-top: 150px;
    }

    /***** WEB DESKTOP SLUT *****/


}

/***** MEDIA QUERIES SLUT *****/
